extends layout

block content
 .container-log-in
   h1 Create your account
   p.lead
     form.form-log-in(role='form', action='/register/registerdone', method='post')
       .form-group
         label(for='username') Username
         input.form-control(type='text', id='user', name='username', placeholder='enter a username')
       .form-group
         label(for='password') Password
         input.form-control(type='password', id='password', name='password', placeholder='enter a password')
       button.btn.btn-primary(type='submit') Sign up