<!DOCTYPE html>
<html lang="en">
<head>
    <title><%= title %></title>
    <link rel="stylesheet" href="stylesheets/style.css">
</head>
    <body>
        <div class="container-home-page">
            <h1><%= title %></h1>
            <!--<p>File name = "<%= title %>"</p> -->
            <button class="my-button-start">
                <a href="#">Save</a>
            </button>
            <button class="my-button-start">
                <a href="#">Edit</a>
            </button>
            <button class="my-button-start">
                <a href="#">Share</a>
            </button>
        </div>

        <div class="sheet">
            <table class="sheet-table">
                <tr class="title-col">
                    <td>&nbsp;</td>
                    <td class="title-sub-col">A</td>
                    <td class="title-sub-col">B</td>
                    <td class="title-sub-col">C</td>
                    <td class="title-sub-col">D</td>
                    <td class="title-sub-col">E</td>
                    <td class="title-sub-col">F</td>
                </tr>
                <tr>
                    <td class="title-line">1</td>
                    <td><input type="text" style="min-height: 30px" ></td>
                    <td><input type="text" style="min-height: 30px" ></td>
                    <td><input type="text" style="min-height: 30px" ></td>
                    <td><input type="text" style="min-height: 30px" ></td>
                    <td><input type="text" style="min-height: 30px" ></td>
                    <td><input type="text" style="min-height: 30px" ></td>
                </tr>
                <tr>
                    <td class="title-line">2</td>
                    <td><input type="text" style="min-height: 30px" ></td>
                    <td><input type="text" style="min-height: 30px" ></td>
                    <td><input type="text" style="min-height: 30px" ></td>
                    <td><input type="text" style="min-height: 30px" ></td>
                    <td><input type="text" style="min-height: 30px" ></td>
                    <td><input type="text" style="min-height: 30px" ></td>
                </tr>
                <tr>
                    <td class="title-line">3</td>
                    <td><input type="text" style="min-height: 30px" ></td>
                    <td><input type="text" style="min-height: 30px" ></td>
                    <td><input type="text" style="min-height: 30px" ></td>
                    <td><input type="text" style="min-height: 30px" ></td>
                    <td><input type="text" style="min-height: 30px" ></td>
                    <td><input type="text" style="min-height: 30px" ></td>
                </tr>
                <tr>
                    <td class="title-line">4</td>
                    <td><input type="text" style="min-height: 30px" ></td>
                    <td><input type="text" style="min-height: 30px" ></td>
                    <td><input type="text" style="min-height: 30px" ></td>
                    <td><input type="text" style="min-height: 30px" ></td>
                    <td><input type="text" style="min-height: 30px" ></td>
                    <td><input type="text" style="min-height: 30px" ></td>
                </tr>
                <tr>
                    <td class="title-line">5</td>
                    <td><input type="text" style="min-height: 30px" ></td>
                    <td><input type="text" style="min-height: 30px" ></td>
                    <td><input type="text" style="min-height: 30px" ></td>
                    <td><input type="text" style="min-height: 30px" ></td>
                    <td><input type="text" style="min-height: 30px" ></td>
                    <td><input type="text" style="min-height: 30px" ></td>
                </tr>
                <tr>
                    <td class="title-line">6</td>
                    <td><input type="text" style="min-height: 30px" ></td>
                    <td><input type="text" style="min-height: 30px" ></td>
                    <td><input type="text" style="min-height: 30px" ></td>
                    <td><input type="text" style="min-height: 30px" ></td>
                    <td><input type="text" style="min-height: 30px" ></td>
                    <td><input type="text" style="min-height: 30px" ></td>
                </tr>
                <tr>
                    <td class="title-line">7</td>
                    <td><input type="text" style="min-height: 30px" ></td>
                    <td><input type="text" style="min-height: 30px" ></td>
                    <td><input type="text" style="min-height: 30px" ></td>
                    <td><input type="text" style="min-height: 30px" ></td>
                    <td><input type="text" style="min-height: 30px" ></td>
                    <td><input type="text" style="min-height: 30px" ></td>
                </tr>
                <tr>
                    <td class="title-line">8</td>
                    <td><input type="text" style="min-height: 30px" ></td>
                    <td><input type="text" style="min-height: 30px" ></td>
                    <td><input type="text" style="min-height: 30px" ></td>
                    <td><input type="text" style="min-height: 30px" ></td>
                    <td><input type="text" style="min-height: 30px" ></td>
                    <td><input type="text" style="min-height: 30px" ></td>
                </tr>
              </table>
        </div>
    </body>
</html>
