/* TODO : enlever tous les -webkit.. */


body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

.container-log-in, .container-home-page{
  text-align-last : center
}

.sheet-table{
  border-style: solid;
  margin-top: 5%;
  border-width: 2px;
}

.div-table{
  text-align: -webkit-center;
  white-space-collapse: preserve;
}

.list-table{
  text-align: center;
}
th {
  background-color: #007BFF;
  color: white;
}
.sheet{
  text-align: -webkit-center;
}

td {
 min-width: 100px;
}

.title-sub-col{
  text-align-last: center ;
}

.title-col{
  text-align-last: center ;
}

.title-line{
  text-align-last: center ;
}

table {
  border-style: hidden;
}

.form-log-in{
  display: inline-block;
}

.form-group{
  display: table-caption;
}

.my-button-start{
  background-color: #007BFF; /* Background color for the button */
  color: #fff; /* Text color for the button */
  border: none; /* Remove button border */
  padding: 10px 20px; /* Adjust padding as needed */
  text-decoration: none; /* Remove underline */
  cursor: pointer; /* Change cursor on hover */
  border-radius: 5px; /* Add rounded corners if desired */
  /* Add more styles as needed */
}


.my-button-action-open{
  background-color: white;
  border-color: #007BFF;
  border-radius: 5%;
}

.my-button-action-del{
  background-color: white;
  border-color: #ff0036;
  border-radius: 5%;
}

.btn.btn-primary{
  background-color: #007BFF; /* Background color for the button */
  color: #fff; /* Text color for the button */
  border: none; /* Remove button border */
  padding: 10px 20px; /* Adjust padding as needed */
  text-decoration: none; /* Remove underline */
  cursor: pointer; /* Change cursor on hover */
  border-radius: 5px; /* Add rounded corners if desired */
  margin-top: 10%;
  /* Add more styles as needed */
}